body {
    background: url("http://subtlepatterns.com/patterns/ricepaper_v3.png") repeat scroll 0% 0% transparent;
    background: url("img/wood.jpg");
    
}

h1 {
text-align:center;
}

.container {
    width: 1000px;
    margin: 0 auto;
}
/*
    TV related styles
*/
.tv-container {
    border: 5px solid red;
    width: 100%;
    height: 400px;
    background: white;
    display:none;
}
/* 
    Remote related styles
*/
.remote-container{
    margin-top:30px;
    border: 5px solid black;
    height: 500px;
    width: 100%;
    background:white;
}
.vol-container {
    width: 19%;
    float:left;
}
.main-container {
    width:80%;
    float:left;
    border-left: 1px solid red;
    height:100%;
    padding:0px;
    overflow: hidden;
}
#vol-control {
margin:0 auto;
height: 300px;
}

/* tabs */
.tab-container {
    width:100%;
    height:100%;
}
.tab-container p{
height:50px;
width:10%;
float:left;
border: 1px solid blue;
/*-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);*/
cursor:pointer;
background:beige;
}

.tab-content {
border:1px solid purple;
float:left;
height:100%;
width:85%;
margin:0;
background:blue;
}